.idea
.github
*.tgz
*.log
src
docs
test
integration-test
assets
examples

tsconfig*
tslint*

node_modules

jest.config.js
renovate.json
.releaserc.json
lambda-packages/**/*.d.ts
lambda-packages/**/*.map
lambda-packages/**/package-lock.json
